/*
 * Styles Gutenberg editor
 */

/* Widths/Structure
--------------------------------------------- */

.wp-block {
    max-width: 920px;
	font-family: sans-serif;
}

.wp-block[data-align="wide"] {
    max-width: 1280px;
}

.wp-block[data-align="full"] {
    max-width: none;
	margin-left: -58px;
    margin-right: -58px;	
}

.wp-block[data-align="full"] > .is-block-content > .wp-block-group {
    padding: 7% 5%;
}


/* Spacer block */

.wp-block-spacer.spacer-small-height {
	height: 25px;
}

.wp-block-spacer.spacer-medium-height {
	height: 3em;
}

.wp-block-spacer.spacer-large-height {
	height: 7em;
}

/* Headings
--------------------------------------------- */
.editor-post-title__block .editor-post-title__input {
	font-family: sans-serif;
}



/* Buttons
--------------------------------------------- */

.wp-block-button .wp-block-button__link,
.wp-block-button.is-style-outline .wp-block-button__link {
	background-color: #03a9f4;
	border: 2px solid #03a9f4;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 15px 30px;
	text-decoration: none;
	white-space: normal;
	width: auto;
}

.wp-block-button.is-style-outline .wp-block-button__link {
	background: transparent;
	color: #03a9f4;
}




/* Flexbox
--------------------------------------------- */

.flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;	
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;	
}

.justify-content-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;		
}

.align-items-stretch {
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	-ms-grid-row-align: stretch;
	align-items: stretch;		
}

.align-items-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;		
}

.flex-direction-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

