/*
 * Styles Gutenberg editor
 */


:root { /* Add sizes and change to pixel units */
	--wp--preset--font-size--small: 16px;
}

.is-style-sans,
.block-editor-block-list__layout.is-root-container {
	font-family: 'Source Sans Pro';
}

.is-style-serif {
	font-family: Georgia;
}

/* Widths/Structure
--------------------------------------------- */

.wp-block {
    max-width: 920px;
	margin-left: auto;
	margin-right: auto;
}

.wp-block[data-align="wide"] {
    max-width: 1280px;
}

.wp-block[data-align="full"] {
    max-width: none;
	margin-left: -58px;
    margin-right: -58px;	
}

.wp-block-cover {
    padding: 0 25px;
}

.wp-block-column {
    padding: 20px;
}



/* Basic typography
--------------------------------------------- */
/* Page title */
.editor-post-title__block .editor-post-title__input { 
	font-family: sans-serif;
}

/* Remove margins added in editor */
h1.block-editor-rich-text__editable,
h2.block-editor-rich-text__editable,
h3.block-editor-rich-text__editable,
h4.block-editor-rich-text__editable,
h5.block-editor-rich-text__editable,
h6.block-editor-rich-text__editable {
	margin: 0;
	font-weight: normal;
}

p {
	margin-bottom: 18px;
}

/* Buttons
--------------------------------------------- */

.wp-block-button .wp-block-button__link,
.wp-block-button.is-style-outline .wp-block-button__link {
	background-color: #03a9f4;
	border: 2px solid #03a9f4;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 15px 30px;
	text-decoration: none;
	white-space: normal;
	width: auto;
}

.wp-block-button.is-style-outline .wp-block-button__link {
	background: transparent;
	color: #03a9f4;
}

.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
    color: currentColor;
}


/* Flexbox
--------------------------------------------- */

.flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;	
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;	
}

.justify-content-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;		
}

.align-items-stretch {
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	-ms-grid-row-align: stretch;
	align-items: stretch;		
}

.align-items-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;		
}

.flex-direction-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

/* Spacer block */
.wp-block-spacer.spacer-xsmall-height {
    height: 16px;
}

.wp-block-spacer.spacer-small-height {
	height: 25px;
}

.wp-block-spacer.spacer-medium-height {
	height: 40px;
}

.wp-block-spacer.spacer-large-height {
	height: 70px;
}