/*
 * Styles Gutenberg editor
 */


:root { /* Add sizes and change to pixel units */
	--wp--preset--font-size--small: 16px;
	--wp--preset--font-size--normal: 18px;
	--wp--preset--font-size--medium: 28px;
	--wp--preset--font-size--large: 48px;
	--wp--preset--font-size--xlarge: 82px;
	--wp--preset--font-size--title: 82px;
	--font-main: "Source Sans Pro", Roboto, sans-serif;
	--font-secondary: Georgia, sans-serif;
	--padding-default: 25px;	
}

.is-style-main,
.block-editor-block-list__layout.is-root-container {
	font-family: var(--font-main);
}

.is-style-secondary {
	font-family: var(--font-secondary);
}

/* Widths/Structure
--------------------------------------------- */

.wp-block {
    max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.wp-block[data-align="wide"] {
    max-width: 1280px;
}

.wp-block[data-align="full"] {
    max-width: none;
	margin-left: -58px;
    margin-right: -58px;	
}

.wp-block-cover {
    padding: 0 25px;
}

.wp-block-columns:where(.has-background) {
    padding: 0;
}


/* Basic typography
--------------------------------------------- */
/* Page title */
.wp-block-post-title { 
	font-family: var(--font-main);
}

/* Remove margins added in editor */
h1.block-editor-rich-text__editable,
h2.block-editor-rich-text__editable,
h3.block-editor-rich-text__editable,
h4.block-editor-rich-text__editable,
h5.block-editor-rich-text__editable,
h6.block-editor-rich-text__editable {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
}

p + p {
	margin-top: 18px;
}


/* Styling classes
--------------------------------------------- */

.overflow {
	overflow: auto;
}

.position-relative {
	position: relative;
}

.no-margin {
	margin: 0 !important;
}

.wp-block-group.no-margin > * {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.margin-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.margin-top-auto {
	margin-top: auto; /*for flexbox*/
}

.margin-left-auto {
	margin-left: auto; /* for flexbox */
}

.no-padding {
	padding: 0 !important;
}

.col-no-padding > .wp-block-column {
	padding: 0 !important;
}


.padding-top-none {
	padding-top: 0 !important;
}

.padding-bottom-none {
	padding-bottom: 0 !important;
}

.padding-sm {
    padding: 15px !important;
}

.padding-default {
    padding: var(--padding-default);
}

.padding-lg {
	padding: calc( var(--padding-default) * 2);
}

.line-height-sm {
    line-height: 1.2 !important;
}

.narrow {
    max-width: 700px !important;
	margin-left: 0;
}

.x-narrow {
	max-width: 450px !important;
	margin-left: 0;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

/* Buttons
--------------------------------------------- */

.wp-block-button .wp-block-button__link,
.wp-block-button.is-style-outline .wp-block-button__link {
	background-color: #03a9f4;
	border: 2px solid #03a9f4;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 15px 30px;
	text-decoration: none;
	white-space: normal;
	width: auto;
}

.wp-block-button.is-style-outline .wp-block-button__link {
	background: transparent;
	color: #03a9f4;
}

.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
    color: currentColor;
}


/* Flexbox & Grid
--------------------------------------------- */


.flex-gap,
.gap {
	grid-gap: 1em;
	gap: 1em;
}

.flex-gap-lg,
.gap-lg {
	grid-gap: 2em;
	gap: 2em;
}

.col-3 .flex-item {
	-webkit-box-flex: 3;
	-ms-flex: 3 1 350px;
	  flex: 3 1 350px;
}

.grid {
	display: -ms-grid;
	display: grid;	
}

.grid.col-3 {
	grid-template-columns: 1fr 1fr 1fr;
}

.grid.col-4  {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;	
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;	
}

.flex-1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;		
}

.justify-content-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;		
}

.align-items-stretch {
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	-ms-grid-row-align: stretch;
	align-items: stretch;		
}

.align-items-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;		
}

.flex-direction-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.justify-content-space-between,
.wp-block-columns.is-style-col-spread {
	 -webkit-box-pack: justify;
 	 -webkit-justify-content: space-between;
	 -ms-flex-pack: justify;
         justify-content: space-between;		
}

/* Spacer block */
.wp-block-acf-spacer {
	clear: both !important;
}

.wp-block-spacer.spacer-xsmall-height {
    height: 16px;
}

.wp-block-spacer.spacer-small-height {
	height: 25px;
}

.wp-block-spacer.spacer-medium-height {
	height: 40px;
}

.wp-block-spacer.spacer-large-height {
	height: 70px;
}


/* When cover blocks have zero opacity, the color is a background. */
.wp-block-cover .has-background-dim.has-background-dim-0,
.wp-block-cover .wp-block-cover__gradient-background.has-background-dim.has-background-dim-0 {
    opacity: 1;
    z-index: 0;
}


/* Custom cover style -- Make image contain, not cover */
.wp-block-cover.is-style-cover-contain-top img.wp-block-cover__image-background,
.wp-block-cover.is-style-cover-contain-bottom img.wp-block-cover__image-background,
.wp-block-cover.is-style-cover-left img.wp-block-cover__image-background,
.wp-block-cover.is-style-cover-right img.wp-block-cover__image-background {
    -o-object-fit: contain;
    object-fit: contain;
}

.wp-block-cover.is-style-cover-contain-top img.wp-block-cover__image-background {
    -o-object-position: 0 0 !important;
    object-position: 0 0 !important;	
    top: 0;
    bottom: auto;	
}

.wp-block-cover.is-style-cover-contain-bottom img.wp-block-cover__image-background {
    -o-object-position: 0 100% !important;
    object-position: 0 100% !important;		
}

.wp-block-cover.is-style-cover-left img.wp-block-cover__image-background {
	-o-object-position: top left;
    object-position: top left;
}

.wp-block-cover.is-style-cover-right img.wp-block-cover__image-background {
	-o-object-position: top right;
    object-position: top right;
}


hr.wp-block-separator {
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid;
    width: 100px;
}

hr.wp-block-separator.is-style-wide {
	width: 100%;
	border-bottom: 1px solid;
}

/* Custom styles for columns blocks
------------------------------------------ */

/* Columns with no space between cols */
.wp-block-columns.is-style-col-no-space {
	gap: 0 !important;
}

.wp-block-columns.is-style-col-no-space .wp-block-column {
	margin: 0 !important;
}


/* SVG */
.svg-img.aligncenter {
    text-align: center;
}

